:root {
  --shadow-grey: #252323;
  --slate-grey: #70798c;
  --parchment: #e2d8d8;
  --bone: #dad2bc;
  --khaki-beige: #a99985;
}
:root {
  --color-background: #0B0C1E;
  --color-card: #2A2C5B;
  --color-accent: #4D79FF;
  --color-accent-hover: #FF6FD8;
  --color-text: #FFFFFF;
  --color-text-secondary: #C0C0C0;
}

/* Style global */
body {
  background-color: var(--shadow-grey) !important;
  color: var(--parchment)  !important;
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url('/src/assets/space.jpg');
  background-size: cover;
  background-attachment: fixed;
  
}

/* Liens et boutons */
a, .btn {
  color: var(--parchment) !important;
}

.btn-primary {
  background-color: var(--khaki-beige)  !important;
  border-color: var(--khaki-beige) !important;
}

.btn-primary:hover {
  background-color: var(--bone)  !important;
  border-color: var(--bone) !important;
}

/* Navbar */
.navbar {
  background-color: var(--color-background) !important;
}


.navbar .nav-link {
  color: var(--parchment) !important;
}

.navbar .nav-link:hover {
  color: var(--khaki-beige) !important;
}

.navbar .navbar-brand {
  color: var(--parchment) !important;
}

.navbar .navbar-brand:hover {
  color: var(--khaki-beige) !important;
}

/* Cards */
.card {
  background-color: var(--color-card) !important;
  color: var(--parchment) !important;
}
